<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="jquery-3.4.1.min.js"></script>
    <script src="/java/scripts.js"></script>
    <link rel='icon' href='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Paper-notes.svg/512px-Paper-notes.svg.png' type='image/x-icon'/ >



    {% block head %}{% endblock %}
</head>
<body>
    <img src="https://i.ibb.co/b3wrXKf/dadsda1.png" class="logga">
    {% block body %}{% endblock %}
</body>
</html>