{% extends 'base.html' %}

{% block head %}
<title>Redigera</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center; color: white;">Redigera din anteckning</h1>

    <div class="form">
        <form action="/update/{{task.id}}" method="POST">
            <textarea rows = "30" type="text" name="content" id="content" value="{{task.content}}">{{ task.content }}</textarea>
            <div id="knappar"><a href="/"><button id="tillbakaknapp" type="button"><i class="fas fa-angle-double-left"></i> Tillbaka</button></a>
            <button id="redigerasparaknapp"type="submit" value="Update">Spara</button></div>
            
        </form>
    </div>
</div>

{% endblock %}